<%=form_with model:book, local:true do |f| %>
 <%= render 'layouts/errors', obj: f.object  %>
  <div class="table">
   <tbody>
   <div class="form-group">
   <label for="book_title">Title</label>
   <%= f.text_field :title %>
   </div>

   <div class="form-group">
   <label for="book_opinion">Opinion</label>
   <%= f.text_area :body %>
   </div>
  </div>
   <div class="form-group">
   <%= f.submit "Update Book",class:"btn btn-success" %>
   <% end %>
   </div>
   </tbody>
</div>